:root { 
--blue_gray_500_b2:#5e6690b2; 
--indigo_A200_01:#5458f6; 
--indigo_100_75:#d2d6ef75; 
--indigo_A200:#627eea; 
--deep_purple_400:#7562c4; 
--blue_gray_500_95:#5e669095; 
--teal_400:#26a17b; 
--green_A700:#23be4e; 
--amber_A700:#f9a606; 
--black_900:#000000; 
--blue_gray_800:#2e334d; 
--blue_gray_700:#464c6d; 
--blue_gray_900_01:#2d324d; 
--blue_gray_900:#262b44; 
--blue_gray_800_3d:#363a563d; 
--blue_gray_800_7e:#383d5d7e; 
--blue_gray_100:#d2d5d8; 
--blue_700:#2775c9; 
--indigo_900_0c:#2530690c; 
--blue_gray_600:#5d6488; 
--blue_gray_600_b0:#5d6488b0; 
--blue_gray_900_b2:#272b42b2; 
--amber_300:#fbcc5f; 
--blue_gray_800_00:#2f344e00; 
--blue_gray_900_7e:#262b447e; 
--blue_gray_800_01:#313650; 
--blue_gray_700_b0:#494f75b0; 
--blue_gray_700_7e:#474e747e; 
--indigo_100:#d2d6ef; 
--indigo_100_4c:#d2d6ef4c; 
--indigo_900_28:#25306928; 
--blue_gray_700_7e_01:#464c6d7e; 
--blue_gray_700_02:#4a5177; 
--white_A700:#ffffff; 
--blue_gray_700_b0_01:#414768b0; 
--blue_gray_700_01:#414768; 
--blue_gray_900_95:#272b4295; 
--blue_gray_700_04:#3f4568; 
--blue_gray_700_03:#4d547c; 
}