
 @font-face { font-style : normal; src: url("$fonts/assets/fonts/RobotoMonoRegular.ttf") format('woff2'); font-family : "Roboto Mono"; font-weight : 400;   }
 @font-face { font-style : normal; src: url("$fonts/assets/fonts/RobotoMonoMedium.ttf") format('woff2'); font-family : "Roboto Mono"; font-weight : 500;  }
 @font-face { font-style : normal; src: url("$fonts/assets/fonts/RobotoMonoBold.ttf") format('woff2'); font-family : "Roboto Mono"; font-weight : 700;  }
