
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RobotoMonoRegular.ttf"); font-family : "Roboto Mono"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RobotoMonoMedium.ttf"); font-family : "Roboto Mono"; font-weight : 500;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/RobotoMonoBold.ttf"); font-family : "Roboto Mono"; font-weight : 700;  }